@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

html ::-webkit-scrollbar{
  display: none;
}

#border{
  border-radius: 2px;
  border: 2px solid ;
  border-image: linear-gradient(to right, #0000FF, #00FF00,yellow,red) 1;
}
